<%=link_to "Back",doctor_path(@doctor)%>

<h1><%=@doctor.name %>'s patients</h1>
<% @patients.each do |patient|%>
    
<ul>
      <li> <h3> <%= link_to "#{patient.first_name} #{patient.last_name} ", doctor_patient_path(@doctor,patient)%></p> </li>
        </ul>

        
    
        
    <% end %>

    <%= link_to 'add new one', new_doctor_patient_path %>