<%= link_to 'Back', url_for("http://localhost:3000/") %>

<h1>Author List</h1>
<% @authors.each do |author|%>
<h3>
     <ul>
   <li> <%= link_to "#{author.first_name} #{author.last_name}", author_path(author)%> </li>
    </ul>
</h3>




<% end %>
<%= link_to 'add new one', new_author_path %>